h1 {
	color: rgb(3, 80, 50);
	font-size:60px;
}

body {
	background: #f4f4f4;
}

#demo{
	font-size: 12px;
	color: rgb(13, 13, 22);
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}