h1 {
	color: #07C8E8;
	font-size:50px;
}

h2 {
	color: #8bccd8;
	font-size:20px;
}


body {
	background: #000000;
}

#demo{
	font-size: 12px;
	color: rgb(13, 13, 22);
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}